{% extends 'base.html.twig' %}

{% block title %}Classeroom index{% endblock %}

{% block body %}
    <h1>Classeroom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classeroom in classerooms %}
            <tr>
                <td>{{ classeroom.id }}</td>
                <td>{{ classeroom.name }}</td>
                <td>
                    <a href="{{ path('show', {'id': classeroom.id}) }}">detail</a>
                    <a href="{{ path('update', {'id': classeroom.id}) }}">update</a>
               
            <a href="{{ path('remove', {'id': classeroom.id}) }}">remove</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   {% endblock %}
